html, body {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

#btn-group {
    display: none;
}
.footer {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: green;
    margin-top: 82.3vh;
}
.content p{
    margin-top:20px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{

    background-color:inherit;
    color:red;

}

.glyphicon-arrow-up{
  font-size: 50px;
}

#messageError {
  display: none;
}
